<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnePointSDK.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OnePointSDK_Offline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OnePointSDK_OfflineLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78758D4A1F98B64600CFB680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78C0599B1E39F8E7007DC79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94957A9F1CABA2C8005502B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D7A9761CBCBA4700586267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
